.img-right {
    float: right;
}

.img-left {
    float: left;
}

.img-tiger {
    width: 100px;
    height: 100px;
}

.img-water-pump {
    width: 450px;
    height: 225px;
}

.img-osu {
    width: 113px;
    height: 113px;
}

.img-browns {
    width: 109px;
    height: 115px;
}